/* Start Variables */
:root {
  --main-color: #062240;
  --second-color: #92b2d3;
  --main-color-heading: #fff;
  --main-heading: 'Raleway', sans-serif;
  --dark-bg: #062240;
  --light-bg: #062240;
  --grad-clr-left: #062240;
  --grad-clr-right: #062240;
  --grad2-clr-left: #062240;
  --grad2-clr-right: #062240;
  --white: #ffffff;
  --purple-star: #a141f2;
  --orange-star: #f67f03;
}
/* End Variables */
/* start fonts  */
@import url('https://fonts.googleapis.com/css2?family=Amiri+Quran&family=Anton&family=Cairo:wght@200;300;400;500;600;700;800;900;1000&family=Fasthand&family=Fredoka+One&family=Gloria+Hallelujah&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Nabla&family=Oleo+Script:wght@400;700&family=Poiret+One&family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;1,200;1,300;1,400;1,500;1,800;1,900&family=Rubik+Burned&family=Tangerine:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Almarai:wght@300;400;700;800&family=Amiri+Quran&family=Anton&family=Cairo:wght@200;300;400;500;600;700;800;900;1000&family=Fasthand&family=Fredoka+One&family=Gloria+Hallelujah&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Montserrat:wght@800&family=Nabla&family=Oleo+Script:wght@400;700&family=Poiret+One&family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;1,200;1,300;1,400;1,500;1,800;1,900&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Rubik+Burned&family=Tangerine:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lalezar&family=Markazi+Text:wght@400;500;600;700&family=Noto+Kufi+Arabic:wght@100;200;300;400;500;600;700;800;900&family=Work+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alexandria:wght@100;200;300;400;500;600;700;800;900&family=Noto+Kufi+Arabic:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lalezar&family=Markazi+Text:wght@400;500;600;700&family=Noto+Kufi+Arabic:wght@100;200;300;400;500;600;700;800;900&family=Reem+Kufi:wght@400;500;600;700&family=Work+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* 
  font-family: 'Almarai', sans-serif;
font-family: 'Amiri Quran', serif;
font-family: 'Anton', sans-serif;
font-family: 'Cairo', sans-serif;
font-family: 'Fasthand', cursive;
font-family: 'Fredoka One', cursive;
font-family: 'Gloria Hallelujah', cursive;
font-family: 'Lato', sans-serif;
font-family: 'Montserrat', sans-serif;
font-family: 'Nabla', cursive;
font-family: 'Oleo Script', cursive;
font-family: 'Poiret One', cursive;
font-family: 'Poppins', sans-serif;
font-family: 'Raleway', sans-serif;
font-family: 'Rubik Burned', cursive;
font-family: 'Tangerine', cursive;
font-family: 'Reem Kufi', sans-serif;

/* end fonts  */

/* Start Global Rules */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
*::selection {
  background: #2b3dda;
  color: #fff;
}

html {
  scroll-behavior: smooth;
}
html::-webkit-scrollbar {
  width: 15px;
}
html::-webkit-scrollbar-thumb {
  background: var(--main-color);
}
html::-webkit-scrollbar-track {
  background: var(--second-color);
}

body {
  font-family: 'Noto Kufi Arabic', sans-serif;
}

/* End Global Rules */

/* Start preloader  */
.loader-container {
  position: fixed;
  z-index: 10000;
  background: #e5eff1;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
}
.loader-container.remove-loader {
  display: none;
}
/*End preloader  */
/* whatsapp */
.whatsapp {
  position: fixed;
  bottom: 10px;
  left: 60px;
  z-index: 999;
}
.whatsapp a {
}
.whatsapp a img {
  border-radius: 30px;
  width: 80px;
  font-size: 58px;
  color: #1bd741;
}
/* End whatsapp */
/* Start Header  */
header {
  height: 90px;
  background-color: var(--main-color);
  box-shadow: 3px 2px 11px 13px #51333330;
  display: flex;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 1000;
}
header .container {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-around;
  align-items: center;
}
header .logo {
  width: 120px;
  font-size: 20px;
  color: var(--main-color);
}
header .icon {
  display: none;
  color: #fff;
}
header .icon i {
  font-size: 35px;
}
header .container .navbar ul {
  list-style: none;
  padding-top: 15px;
}
header .container .navbar ul li {
  display: inline-block;
  padding-right: 50px;
}
header .container .navbar ul li a {
  text-decoration: none;
  color: var(--main-color-heading);
  font-weight: 900;
  transition: 0.9s all ease-in;
  font-size: 18px;
  font-family: 'Noto Kufi Arabic', sans-serif;
}
header .container .navbar ul li a:hover::before {
  /* border-bottom: 3px solid var(--main-color); */
  content: '';
  width: 30px;
  height: 2px;
  position: absolute;
  bottom: 20px;
  background-color: var(--main-color-heading);
  animation: links 0.2s ease-in-out;
}
@keyframes links {
  0% {
    width: 0;
  }
  100% {
    width: 30px;
  }
}

/* End Header  */
.image-slider {
  min-height: calc(100vh - 70px);
  position: relative;
  background-image: url(../images/heading/2.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  transition: 0.3s;
  background-position: center center;
}

.image-slider * {
  /* box-sizing: border-box; */
}
.image-slider .caption {
  position: absolute;
  top: 15%;
  left: 0;
  width: 100%;
  padding: 64px 16px 32px 16px;
  text-align: center;
}
.image-slider .caption h1 {
  margin: 0;
  color: #fff;
  font-size: 80px;
  font-family: 'Reem Kufi', sans-serif;

  font-weight: 900;
  /* text-shadow:-2px 9px 0px #062240; */
  text-shadow: -2px -1px 9px #062240;
  /* -webkit-text-stroke: 1px #a4bdd7; */
}
@keyframes h1-animation {
  0% {
    text-shadow: -2px -1px 9px #215690;
  }
  25% {
    text-shadow: -2px -1px 9px #308df0;
  }
  50% {
    text-shadow: -2px -1px 9px #0c2f54;
  }
  75% {
    text-shadow: -2px -1px 9px #95a0ac;
  }
  100% {
    text-shadow: -2px -1px 9px #061f3a;
  }
}
.arrow-left,
.arrow-right {
  background-color: #fff;
  position: absolute;
  top: 40%;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: 0.3s;
  opacity: 0.8;
  visibility: hidden;
}
.arrow-left:hover,
.arrow-right:hover {
  background-color: #000;
  color: #fff;
  opacity: 1;
}
.arrow-left {
  left: 16px;
}
.arrow-right {
  right: 16px;
}
.image-fade {
  animation: imgFade 2s ease-in-out;
}
@keyframes imgFade {
  0% {
    opacity: 0.7;
  }
  100% {
    opacity: 1;
  }
}
/* about Us  */
.aboutUs {
  padding-top: 50px;
  padding-bottom: 50px;
  min-height: 70vh;
  /* background-color: #266ef3; */
}
.aboutUs .container {
  display: flex;
}
.aboutUs img {
  width: 50%;
}
.aboutUs .container div.text {
  width: 50%;
  padding: 50px;
  font-family: 'Raleway', sans-serif;
  color: var(--main-color);
}
.aboutUs .container div.text h1 {
  font-size: 55px;
  font-weight: bold;
  direction: rtl;
}
.aboutUs .container div.text p {
  direction: rtl;
}
/* end about Us  */

/* start gallary  */
.gallary {
  padding-top: 0;
  margin-bottom: 70px;
  /* background: #3314e4; */
  min-height: 100vh;
}
.gallary h1 {
  font-size: 55px;
  font-weight: bold;
  font-family: 'Raleway', sans-serif;
  color: var(--main-color);
  text-align: center;
}
.gallary .allphots {
  display: grid;
  gap: 10px 10px;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-auto-rows: 250px;
  grid-auto-flow: dense;
  box-shadow: 1px 0px 18px 13px #c1bfbfa6;
}
.gallary .v-stretch {
  grid-row: span 2;
}
.gallary .h-stretch {
  grid-column: span 2;
}
.gallary .big-stretch {
  grid-row: span 2;
  grid-column: span 2;
}
.gallary img {
  width: 100%;
  height: 100%;
}
/* End gallary  */

/* ==================== PORTFLIO ==================== */

#portflio {
  background-color: var(--main-color-heading);
  position: relative;
  overflow: hidden;
  /* max-height: 1300px; */
}

#portflio .container {
  min-height: 100vh;
  display: flex;
  justify-content: start;
  align-items: center;
  flex-direction: column;
  /* background-color: #0622404a; */
}
#portflio .container h1 {
  font-family: 'Raleway', sans-serif;
  font-size: 40px;
  text-align: center;
  font-weight: 700;
  color: var(--main-color);
}
#portflio .container .top {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  font-family: 'Alexandria', sans-serif;
  font-weight: 900;
  background-color: #fff;
}

#portflio .container .top .right {
  display: flex;
  gap: 0;
}

#portflio .container .top .right a {
  padding: 5px 20px;
  font-size: 1.1rem;
  font-weight: 500;
  position: relative;
  z-index: 1;
  overflow: hidden;
  transition: 0.3s;
  cursor: pointer;
  text-decoration: none;
  color: var(--main-color);
  border: 3px solid #06224081;
  min-width: 170px;
  margin: 10px 6px;
  text-align: center;
}

#portflio .container .top .right a::before {
  content: '';
  position: absolute;
  background-image: linear-gradient(
    45deg,
    var(--grad-clr-left),
    var(--grad-clr-right)
  );
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  z-index: -1;
  transition: 0.3s;
}

#portflio .container .top .right .active {
  background-image: linear-gradient(45deg, var(--dark-bg), var(--main-color));
  /* box-shadow: 0px 0px 40px 5px rgba(115, 0, 255, 0.4); */
  color: #fff;
}

#portflio .container .top .right a:hover::before {
  opacity: 0;
}

#portflio .container .top .right a:hover {
  background-image: linear-gradient(
    45deg,
    var(--main-color),
    var(--main-color)
  );
  /* box-shadow: 0px 0px 5px 5px var(--main-color); */
  color: #fff;
}

#portflio .container .top .left h1 {
  font-size: 2.5rem;
}

#portflio .container .top .left p {
  line-height: 20px;
  font-size: 0.9rem;
  opacity: 0.9;
}

#portflio .container #allWork {
  margin: 50px 0px 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  max-height: 1200px;
}

#portflio .container #allWork .row {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 15px;
  transition: 0.4s;
}

#portflio .container #allWork .row .box {
  background-image: linear-gradient(
    45deg,
    var(--grad-clr-left),
    var(--dark-bg)
  );
  width: 400px;
  min-height: 250px;
  overflow: hidden;
  cursor: pointer;
  position: relative;
  display: flex;
  transition: 0.4s;
}

#portflio .container #allWork .row .box .image {
  width: 100%;
  height: 100%;
  transition: 0.3s;
  position: absolute;
  top: 0;
  left: 0;
}

#portflio .container #allWork .row .box .shadow {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: transparent;
  box-shadow: inset 0px 0px 30px 5px #211141b4;
  z-index: 999;
}

#portflio .container #allWork .row .box .category {
  position: absolute;
  top: -30px;
  display: flex;
  justify-content: center;
  z-index: 999;
  width: 100%;
  font-weight: 600;
  font-size: 0.9rem;
  transition: 0.3s;
  display: none;
}

#portflio .container #allWork .row .box .link {
  position: absolute;
  bottom: -60px;
  z-index: 999;
  transition: 0.3s;
  width: 40px;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 50%;
}

#portflio .container #allWork .row .box .lordIcon {
  position: absolute;
  left: -50%;
  top: 40%;
  transform: translateX(-50%) translateY(-50%);
  transition: 0.3s;
}

#portflio .container #allWork .row .box:hover .image {
  transform: scale(1.2) rotate(-5deg);
  /* opacity: 0.99; */
}

#portflio .container #allWork .row .box:hover .category {
  top: 0px;
}

#portflio .container #allWork .row .box:hover .lordIcon {
  left: 50%;
}

#portflio .container #allWork .row .box:hover .link {
  bottom: 7px;
}

#portflio .container #allWork .row .box .link:hover {
  box-shadow: 0px 0px 10px 5px #d7bff6;
}

#portflio .container .btn {
  padding: 4px 40px;
  font-size: 1.2rem;
  background-image: linear-gradient(
    45deg,
    var(--grad-clr-left),
    var(--grad-clr-right)
  );
  margin: auto;
  transition: 0.3s;
}

#portflio .container .btn:hover {
  padding: 4px 60px;
  box-shadow: 0px 0px 40px 5px rgba(115, 0, 255, 0.7);
}

/* stars */

#portflio .str1 {
  top: 50%;
  left: 14%;
  width: 6px;
  height: 6px;
  animation: portStr1 1.6s infinite ease-in-out alternate;
}

@keyframes portStr1 {
  from {
    top: 50%;
  }
  to {
    top: 52%;
  }
}

#portflio .str2 {
  top: 83%;
  left: 67%;
}

#portflio .str3 {
  top: 2%;
  left: 24%;
}

#portflio .str4 {
  top: 24%;
  left: 88%;
  width: 6px;
  height: 6px;
  animation: portStr4 3s infinite ease-in-out alternate;
}

@keyframes portStr4 {
  from {
    top: 24%;
  }
  to {
    top: 28%;
  }
}

@media (max-width: 1280px) {
  #portflio .container .top {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
  }
  #portflio .container .top .right {
    margin-top: 2rem;
  }
  #portflio .container .top .left h1 {
    font-size: 2.9rem;
  }
  #portflio .container .top .left p {
    margin-top: -1rem;
  }
  #portflio .container #allWork .row div {
    width: 180px;
    height: 180px;
  }
}

@media (max-width: 810px) {
  #portflio .container {
    width: 95%;
  }
  #portflio .container .top .right {
    transform: scale(0.9);
  }
  #portflio .container #allWork .row div {
    width: 120px;
    height: 120px;
  }
}

@media (max-width: 610px) {
  #portflio .container .top .right {
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }
  #portflio .container #allWork .row div {
    width: 105px;
    height: 105px;
  }
}
/* End portfolio  */

/* start Contact  */
.contact {
  color: var(--main-color);
}
.contact h1 {
  font-family: 'Raleway', sans-serif;
  font-size: 40px;
  text-align: center;
  font-weight: 700;
}
.contact .contactInfo {
  min-height: 400px;
}
.contact .contactInfo .contactPadding {
  height: 200px;
}
.contact .contactInfo i {
  font-size: 60px;
}
.contact .contactInfo div {
  padding-top: 20px;
  padding-bottom: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.contact .contactInfo div p {
  padding-top: 40px;
  text-align: center;
}
.contact .contactInfo div a {
  color: var(--main-color);
  text-decoration: none;
  transition: 0.1s all ease-in-out;
}
.contact .contactInfo div a:hover {
  color: var(--second-color);
}
/* End Contact  */
/* start map  */
.map {
}
iframe {
  width: 100%;
}
/* End map  */

/* Start Footer  */

footer {
  background: url(../images/footer.png);
  background-color: var(--main-color);
  background-size: contain;
  font-family: 'Open Sans';
  padding-top: 40px;
  color: #fff;
}
.footer-content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}
.footer-content h3 {
  font-size: 1.8rem;
  font-weight: 400;
  text-transform: capitalize;
  line-height: 3rem;
  /* font-family:  */
}
.footer-content p {
  max-width: 500px;
  margin: 10px auto;
  line-height: 28px;
  font-size: 14px;
}
.socials {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1rem 0 3rem 0;
}
.socials li {
  margin: 0 10px;
}
.socials a {
  text-decoration: none;
  color: #fff;
}
.socials a i {
  font-size: 20px;
  transition: color 0.4s ease;
}
.socials a:hover i {
}

.footer-bottom {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #020c17;
  /* padding: 10px 0 5px; */
  height: 40px;
  text-align: center;
}
.footer-bottom p {
  font-size: 14px;
  word-spacing: 2px;
  text-transform: capitalize;
  margin-bottom: 0;
}
.footer-bottom span {
  text-transform: uppercase;
  opacity: 0.4;
  font-weight: 200;
}
/* End Footer  */

/* test  */
