/* Start Header  */
header .navbar {
  display: none;
}
header .icon {
  display: block;
  cursor: pointer;
}
header .icon .icons{
  width: 45px;
  height: 40px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-around;
}
header .icon .icons span{
  width: 100%;
  height: 4px;
  display: inline-block;
  background-color: #fff;
  transition:  0.3s all ease-in-out;

}
header .icon .xmark{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
header .icon .xmark span:nth-child(1){
  transform: rotate(45deg);
}
header .icon .xmark span:nth-child(2){
display: none;
}
header .icon .xmark span:nth-child(3){
  transform: rotate(135deg);
}
header .icon .fa-bars{
  
}
header .icon .fa-xmark{
display: none;
}
header .container {
  flex-direction: row;
  justify-content: space-between;
}
/* End Header  */
/* start navbar  */
header .toggle-navbar {
  position: fixed;
  background-color: var(--main-color);
  top: 70px;
  left: 0;
  width: 100%;
  height: 265px;
  display: flex;
  justify-content: center;
  align-items: center;
  /* animation: name duration timing-function delay iteration-count direction fill-mode; */
  animation: navMenu 0.3s;
}
@keyframes navMenu {
  0% {
    height: 0;
  }
  100% {
    height: 265px;
  }
}
header .navbar ul {
  display: flex;
  flex-direction: column-reverse;
  flex-wrap: wrap;
  height: 100%;
  justify-content: space-around;
}
header .navbar li {
}
header .navbar ul a {
  color: #fff !important;
  font-size: 20px !important;
}
header .container .navbar ul li a:hover::before {
  width: 0;
  animation: links 0s ease-in-out;
}
/* end navbar  */
/* whats app  */
.whatsapp{
  bottom: 40px;
  left: 28px;
}
.whatsapp a img {
  width: 60px;
}
/* end whatsapp  */
/* about Us  */
.aboutUs {
  padding-top: 0;
  padding-bottom: 0;
  min-height: 70vh;
  /* background-color: #266ef3; */
}
.aboutUs .container {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
}
.aboutUs img {
  width: 100%;
}
.aboutUs .container div.text {
  font-family: 'Raleway', sans-serif;
  color: #093c86;
  width: 100%;
}
.aboutUs .container div.text h1 {
  font-size: 55px;
  font-weight: bold;
}
/* end about Us  */

.gallary .v-stretch-ipad {
  grid-row: span 2;
}
